{% extends 'base/base.html' %}

{% block title %} MDS Dashboard {% endblock %}

{% block head %}

    <link href="{{ STATIC_URL }}dist/css/ceph_dashboard.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}dist/css/skins/_all-skins.css" rel="stylesheet" type="text/css" />

    <!-- My Script -->
    <script src="{{ STATIC_URL }}dist/js/app.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}dist/js/demo.js" type="text/javascript"></script>


{% endblock %}

{# body block #}
{% block body %}

{% endblock %}

{# main-slider block #}
{% block main-sidebar%}
    {% include 'mds/mds_slider.html' %}
{% endblock %}

{# main-content block #}
{% block main-content%}
    {% include 'mds/mds_content.html' %}
{% endblock %}

