{% extends 'base/base_main_content.html' %}

{% block content_title %} OSD Dashboard {% endblock %}

{% block content_small_title %} Monitor Panel {% endblock %}


{# body block #}
{% block content_body %}
    <div class="row">
    {% for node in cluster_nodes %}
        <div class="col-md-4">
            <div class="box box-solid {% if node.in == 1 %} box-success {% else %} box-danger {% endif %} collapsed-box">

                <div class="box-header">
                    <h3 class="fa fa-hdd-o box-title"> OSD {{ node.osd }} </h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <table class="table table-condensed">
                        <tbody>
                        <tr><th>Key</th><th>Value</th></tr>
                        <tr>
                            <td>叢集 IP 位置 </td>
                            <td>{{ node.cluster_addr }}</td>
                        </tr>
                        <tr>
                            <td>公有 IP 位置 </td>
                            <td>{{ node.public_addr }}</td>
                        </tr>
                        <tr>
                            <td>權重 </td>
                            <td>{{ node.weight }}</td>
                        </tr>
                        <tr>
                            <td>狀態 </td>
                            <td>
                                {% if node.up == 1 %}
                                    <small class="label bg-green">up</small>
                                {% else  %}
                                    <small class="label bg-red">down</small>
                                {% endif %}

                                {% if node.in == 1 %}
                                    <small class="label bg-green">in</small>
                                {% else  %}
                                    <small class="label bg-red">out</small>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>uuid </td>
                            <td>{{ node.uuid }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endfor  %}
    </div>
{% endblock %}