<div class="row">
        {% for content in row_three_content %}
            <div class="col-xs-4">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title fa {{ content.icon }}"> {{ content.title }} </h3>
                        <div class="box-body" align="center" valign="center">
                            {% if content.tag == '0' %}
                                <div class="chart" id="pg_state" style="height: 250px; position: relative;"></div>
                            {% elif content.tag == '1' %}
                                <input type="text" class="knob" value="{{ content.total_value }}"
                                       data-width="220" data-height="220" data-fgColor="#f56954" readonly="true"/>
                                <div class="knob-label">%</div>
                            {% else %}
                                <div class="chart" id="host_state" style="height: 250px; position: relative;"></div>
                            {% endif %}
                        </div>
                        <table class="table table-bordered text-center">
                            <tr>
                                <td class="bg-light-blue">
                                    <span class="label " style="font-size: 14px">{{ content.left_title }} </span>
                                    <h2>{{ content.left_value }}</h2>
                                </td>
                                <td class="bg-light-blue">
                                    <span class="label " style="font-size: 14px">{{ content.right_title }} </span>
                                    <h2>{{ content.right_value }}</h2>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        {% endfor %}
</div>